@import url("https://fonts.googleapis.com/css2?family=Great+Vibes:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400&display=swap");

/* Fallback - используем Cinzel вместо Santa Catarina */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  color-scheme: light;
}

body {
  color: #614c31;
  background: #e0dbd8;
  font-family: "Great Vibes", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
